---
import BaseLayout from '../layouts/BaseLayout.astro';
import CertificationsCards from '../components/CertificationsCards.astro';
---

<BaseLayout title="Certifications">
	<section>
		<h1>Certifications</h1>
		<CertificationsCards />
	</section>
</BaseLayout>