---
import BaseLayout from '../layouts/BaseLayout.astro';
import CertificationsCards from '../components/CertificationsCards.astro';
---

<BaseLayout title="Certifications">
 	<section>
 		<a href="/" class="back-link">← Back to Home</a>
 		<h1>Certifications</h1>
 		<CertificationsCards />
 	</section>
</BaseLayout>