---
import BaseLayout from '../layouts/BaseLayout.astro';
import ProjectsCards from '../components/ProjectsCards.astro';
---

 <BaseLayout title="Projects">
 	<section>
 		<a href="/" class="back-link">← Back to Home</a>
 		<h1>Projects</h1>
 		<ProjectsCards />
 	</section>
</BaseLayout>

<style>
	h1 {
		margin-bottom: 2rem;
	}
</style>
