---
import BaseLayout from '../layouts/BaseLayout.astro';
import ProjectsCards from '../components/ProjectsCards.astro';
import BackLink from '../components/BackLink.astro';
---

  <BaseLayout title="Projects">
  	<section>
  		<BackLink />
  		<h1>Projects</h1>
  		<ProjectsCards />
  	</section>
</BaseLayout>

<style>
	h1 {
		margin-bottom: 2rem;
	}
</style>
